{
    "presets": [
        ["env", {
            "targets": {
                "browsers": "last 2 versions, > 1%, ie >= 11, Android >= 7, iOS >= 10, and_uc > 9",
                "node": "10.10.0"
            },
            "modules": false,
            "loose": false
        }]
    ],
    "plugins": [
        ["transform-runtime", {
            "helpers": false,
            "polyfill": false,
            "regenerator": false,
            "modulesName": "babel-runtime"
        }]
    ]
}